body{
	padding-top: 50px;
	position: relative;
}

.jumbotron{
	padding-bottom:25px !important;
	margin-bottom:10px !important;}

a{text-decoration: none; color:black; }
a:hover{text-decoration:underline; color:blue;}
.blue-link{text-decoration: none; color: blue;}

.highlight, #pubs .table a{
	color:blue;
}


a.caret-before {
    padding-right:1.5px !important;
}
a.caret-after {
    padding-left:1.5px !important;
}
