/* CSS Document */
body{
	font-family: "Times New Roman", "Times", "serif";
	font-size: 18px; 
	line-height:25px; 
}

a{
	text-decoration:none;
}

ol li{
	padding:5px;
}

ol li a{
	text-decoration:none;
}

.me{text-decoration:underline;}
.head{ font-size:20px;}
.title{
	/*color:#E8654D; */
	font-weight:bold;
	font-size:20px;
}
.addon{
	margin-left:10px;
	font-size:20px;
}

.back-to-top {
    position: fixed;
    bottom: 1em;
    right: 0px;
    text-decoration: none;
    color: #000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 18px;
	font-weight:bold;
    padding: 0.5em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.6);
}

/* navigation css codes */
/* usage examples:    
<ul>  
	<li class="dropdown">
	  <a href="index.html">Music, Games, Film &amp; TV</a>
	  <ul class="large">
		<li><a href="index.html">Music</a></li>
		<li><a href="index.html">MP3 Downloads</a></li>
		<li><a href="index.html">Film &amp; TV</a></li>
		<li><a href="index.html">Blu-ray</a></li>
		<li><a href="index.html">PC &amp; Video Games</a></li>
	  </ul>
	</li>
	<li class="active"><a href="index.html">Electronics</a></li> 
	<li><a href="index.html">About</a></li> 
</ul>
*/
header {
  padding-top: 10px;
  background: #404040 url("../img/bg.png") 0 0 repeat;
  border-bottom: 1px solid #dadada;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}

header h1{
	color:white; 
	padding-left:5px;
}

nav {
  height: 34px;
  border-bottom: 5px solid white;
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.nav {
  margin: 0 auto;
  width: 680px;
}
.nav ol, ul {
  list-style: none;
}

.nav a {
  display: block;
  text-decoration: none;
}
.nav > li {
  float: left;
  margin-right: 5px;
}
.nav > li > a {
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #1E5575;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #9cb6c5, #1E5575); /*759aaf*/
  background-image: -moz-linear-gradient(top, #9cb6c5, #1E5575);
  background-image: -o-linear-gradient(top, #9cb6c5, #1E5575);
  background-image: linear-gradient(to bottom, #9cb6c5, #1E5575);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -2px 2px rgba(0, 0, 0, 0.03), 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
}
.nav > li > a:hover {
  text-decoration: none;
  background: #1494DF;
  background-image: -webkit-linear-gradient(top, #afc5d1, #1494DF);
  background-image: -moz-linear-gradient(top, #afc5d1, #1494DF);
  background-image: -o-linear-gradient(top, #afc5d1, #1494DF);
  background-image: linear-gradient(to bottom, #afc5d1, #1494DF);
}
.nav > li.active > a, .nav > li > a:active, .nav > .dropdown:hover > a {
  background: white;
  color: #404040;
  text-shadow: none;
  -webkit-box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px white, 0 0 2px rgba(0, 0, 0, 0.2);
}
.nav a.icon {
  position: relative;
  width: 40.8px;
  padding: 0;
}
.nav a.icon > span {
  display: block;
  position: absolute;
  top: 9px;
  left: 12px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
.nav a.icon.home > span {
  background-image: url("../images/home2.png");
}
.nav .active a.icon > span, .nav a.icon:active > span {
  background-position: 0 -16px;
}

.dropdown {
  position: relative;
  border-bottom: 5px solid white;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul {
  display: none;
  position: absolute;
  top: 39px;
  left: -1px;
  min-width: 160px;
  padding: 0 0 5px;
  background: white;
  border: 1px solid #dadada;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}
.dropdown ul.large {
  min-width: 200px;
}
.dropdown li {
  display: block;
  margin: 0 18px;
  overflow: visible;
}
.dropdown li + li {
  border-top: 1px solid #eee;
}
.dropdown li a {
  color: #555;
  padding: 8px 18px;
  margin: 0 -18px;
}
.dropdown li a:hover {
  color: black;
}
.notes{
	font-size:14px;
	color:#99F; 
}